.bg-spiration {
    background: url(/../assets/images/banner-spiration.jpg) repeat-x;
    padding-top: 50px;
}

.equal {
    padding: 40px 0px;
}

.product-nav {
    width: 100%;
}

.product-nav li {
    text-align: right;
}

.product-nav li a {
    border: 1px solid transparent;
    width: 100%;
    display: inline-block;
    padding: 10px 20px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    border-right: none;
}

.product-nav li a:hover,
.product-nav li a:focus,
.product-nav li.active a {
    color: #ee7e33;
    text-decoration: none;
    border: 1px solid #e2e2e2;
    border-right: none;
    background: #fff;
    font-weight: bold;
}

.fiiter-box {
    width: 100%;
    display: flex;
}

.fiiter-box input {
    width: 75%;
    float: left;
    padding: 15px 50px;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 0px 5px 0px #ccc;
    -webkit-box-shadow: 0px 0px 5px 0px #ccc;
    -moz-box-shadow: 0px 0px 5px 0px #ccc;
    margin-right: 15px;
    background: url(/../assets/images/search-icon.png) no-repeat;
    background-position: 15px 15px;
    background-color: #fff;
}

.fiiter-box button {
    padding: 10px;
    width: 22%;
    height: 50px;
    border-radius: 3px;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    background: #fff;
    box-shadow: 0px 0px 5px 0px #ccc;
    -webkit-box-shadow: 0px 0px 5px 0px #ccc;
    -moz-box-shadow: 0px 0px 5px 0px #ccc;
}

.fiiter-box button img {
    display: inline-block;
}

.product-box {
    border-right: 1px solid #dfdfdf;
    padding-left: 0px;
    padding-right: 0px;
}

.product-menu {
    border: 1px solid #dfdfdf;
    display: inline-block;
    background: #fff;
    border-radius: 2px 30px 2px 2px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    margin-bottom: 30px;
}

.overlay-box {
    position: absolute;
    left: 0;
    right: 0;
    top: 235px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.77);
    text-align: center;
    padding: 90px 0px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
}

.overlay-box a {
    background: #ee7e33;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 45px;
    text-align: center;
    margin: 0px 5px;
}

.overlay-box a svg {
    width: 20px;
    height: 20px;
    fill: #fff;
}

.product-menu figure {
    margin-bottom: 0px;
    position: relative;
    overflow: hidden;
}

.food-main {
    padding: 10px;
    display: table;
    width: 100%;
}

.food-content {
    float: left;
}

.food-content h3 {
    font-size: 20px;
    margin-bottom: 0px;
}

.food-content p {
    margin-bottom: 0px;
}

.rating {
    background: #48c479;
    padding: 5px;
    color: #fff;
    float: right;
    font-size: 18px;
}

.rating svg {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.food-productivity {
    width: 100%;
    border-top: 1px solid #ccc;
    text-align: center;
}

.food-productivity li {
    display: inline-block;
    padding: 10px 10px;
    font-size: 14px;
    position: relative;
}

.food-productivity li::before {
    content: url(/../assets/images/dot.png);
    position: absolute;
    left: -5px;
}

.food-productivity li:first-child::before {
    display: none;
}

.product-menu:hover,
.product-menu:focus {
    box-shadow: 3px 3px 8px #ccc;
    -webkit-box-shadow: 3px 3px 8px #ccc;
    -moz-box-shadow: 3px 3px 8px #ccc;
}

.product-menu:hover .overlay-box {
    top: 0;
}

.product-cart {
    background: #fff;
    padding: 10px;
}

.product-cart h3 {
    font-size: 20px;
}