<app-banner></app-banner>
<section class="bg-spiration">
    <div class="container">
        <div class="row">
            <div class="col-md-2 product-box">
                <ul class="product-nav">
                    <li class="active"><a href="#">Recommanded</a></li>
                    <li><a href="#">Savouries</a></li>
                    <li><a href="#">Home Made Savouries</a></li>
                    <li><a href="#">South Indian</a></li>
                    <li><a href="#">Rasam & Appalam</a></li>
                    <li><a href="#">Meals</a></li>
                    <li><a href="#">Desserts</a></li>
                </ul>

            </div>
            <div class="col-md-7">
                <form class="">
                    <div class="fiiter-box">
                        <input type="text" placeholder="Search for Dishes...">
                        <button (click)="this.toggleSideBar =  !this.toggleSideBar"><img src="../assets/images/filter.png"> USe Filters</button>
                    </div>
                </form>
                <!---End filter form-->
                <div class="row equal">
                    <div class="col-md-6" *ngFor="let item of productInfo">
                        <app-productbox [productImg]="item.productImg" [productName]="item.productName" [productType]="item.productType" [productPrice]="item.productCost"></app-productbox>
                    </div>

                </div>
            </div>
            <!--End col md -8-->
            <div class="col-md-3">
                <div class="product-cart">
                    <h3>Empty Cart</h3>
                    <figure>
                        <img src="../assets/images/empty-cart.jpg"></figure>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- sidebar css -->

<div class="filter-sidebar" [ngClass]="{'open': toggleSideBar}">
    <div class="filter-sidebar-in">
        <button (click)="this.toggleSideBar =  !this.toggleSideBar" class="close"><i class="fa fa-times"></i></button>
        <div class="filter-item">
            <div class="filter-sidebar-content">
                <div class="filter-item-list radio">
                    <div class="">
                        <input type="radio" id="allprodcut" name="itemfilter" />
                        <label for="allprodcut">All</label>
                    </div>

                </div>
                <div class="filter-item-list radio">
                    <div class="clearfix">
                        <input type="radio" id="prodcutdepartment" name="itemfilter" />
                        <label for="prodcutdepartment">Department</label>
                    </div>
                    <div class="filter-item-list checkbox">
                        <input type="checkbox" id="departmentbakery" name="bakery" />
                        <label for="departmentbakery">Department</label>
                    </div>
                    <div class="filter-item-list checkbox">
                        <input type="checkbox" id="departmentfood" name="food" />
                        <label for="departmentfood">Food</label>
                    </div>
                </div>
                <div class="filter-item-list radio">
                    <input type="radio" id="prodcutdepartment" name="itemfilter" />
                    <label for="prodcutdepartment">Department</label>
                </div>
                <div class="filter-item-list radio">
                    <input type="radio" id="productgroup" name="itemfilter" />
                    <label for="productgroup">Group</label>
                </div>
                <div class="filter-item-list radio">
                    <input type="radio" id="productoffer" name="itemfilter" />
                    <label for="productoffer">Offer</label>
                </div>
                <div class="filter-item-list radio">
                    <input type="radio" id="productprice" name="itemfilter" />
                    <label for="productprice">Price</label>
                </div>
                <div class="filter-item-list radio">
                    <input type="radio" id="productcombo" name="itemfilter" />
                    <label for="productcombo">Combos</label>
                </div>
            </div>

            <div class="filter-btngroup">
                <button (click)="this.toggleSideBar =  !this.toggleSideBar" class="btn btn-danger">Clear</button>
                <button class="btn btn-success">Filter</button>
            </div>
        </div>
    </div>
</div>