.bg-spiration {
    background: url(/../assets/images/banner-spiration.jpg) repeat-x;
    padding-top: 50px;
}

.equal {
    padding: 40px 0px;
}

.product-nav {
    width: 100%;
}

.product-nav li {
    text-align: right;
}

.product-nav li a {
    border: 1px solid transparent;
    width: 100%;
    display: inline-block;
    padding: 10px 20px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    border-right: none;
}

.product-nav li a:hover,
.product-nav li a:focus,
.product-nav li.active a {
    color: #ea3f38;
    text-decoration: none;
    border: 1px solid #e2e2e2;
    border-right: none;
    background: #fff;
    font-weight: bold;
}

.fiiter-box {
    width: 100%;
    display: flex;
}

.fiiter-box input {
    width: 75%;
    float: left;
    padding: 15px 50px;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 0px 5px 0px #ccc;
    -webkit-box-shadow: 0px 0px 5px 0px #ccc;
    -moz-box-shadow: 0px 0px 5px 0px #ccc;
    margin-right: 15px;
    background: url(/../assets/images/search-icon.png) no-repeat;
    background-position: 15px 15px;
    background-color: #fff;
}

.fiiter-box button {
    padding: 10px;
    width: 22%;
    height: 50px;
    border-radius: 3px;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    background: #fff;
    box-shadow: 0px 0px 5px 0px #ccc;
    -webkit-box-shadow: 0px 0px 5px 0px #ccc;
    -moz-box-shadow: 0px 0px 5px 0px #ccc;
}

.fiiter-box button img {
    display: inline-block;
}

.product-cart {
    background: #fff;
    padding: 10px;
    position: sticky;
    top: 10px;
}

.product-cart h3 {
    font-size: 20px;
}

.filter-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background: #fff;
    width: 250px;
    z-index: 1000;
    border-radius: 50px 0 0 0;
    overflow: hidden;
    padding: 50px 0 15px 15px;
    border-left: solid 1px #d9d9d9;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.25);
    transform: translateX(300px);
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
}

.filter-sidebar.open {
    transform: translateX(0);
}

.filter-sidebar .filter-sidebar-in {
    position: relative;
    height: 100%;
}

.filter-sidebar .filter-sidebar-content {
    overflow: auto;
    padding-right: 15px;
    position: relative;
    height: calc(100% - 45px);
    margin-bottom: 15px;
}

.filter-sidebar .filter-sidebar-in .close {
    position: absolute;
    font-weight: normal;
    top: -30px;
    right: 20px;
}

.filter-sidebar .filter-item-list {
    padding: 10px 0;
    border-bottom: solid 1px #d9d9d9;
}

.filter-sidebar .filter-item-list .filter-item-list {
    padding: 5px 0 5px 20px;
    border-bottom: none;
}