<div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">

    <div class="logo">
        <a [routerLink]="['/']" class="simple-text">
            <img src="assets/images/logo.jpg" alt="logo">
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="active">
                <a href="dashboard.html">
                    <i class="zmdi zmdi-view-dashboard"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a href="./user.html">
                    <i class="zmdi zmdi-account"></i>
                    <p>User Profile</p>
                </a>
            </li>

        </ul>
    </div>
</div>